/* ---------------------------------------------------------------------------- General styling */
.text-aqua {
    color: #00ffff;
}

/* ---------------------------------------------------------------------------- Nav styling */
.active {
    color: #00ffff !important;
    font-weight: bold !important;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

/* ------------------------------------------------------------------------- Media Queries */
@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }
}